    *{
        padding: 0px;
        margin: 0px;;
    
    }

    body{
        font-family: Tahoma;
        color: #F9FAF8;
    }

    a{
        list-style: none;
    }

    .container{
        width: 75%;
        margin: 0 auto;
    }

    .hero{
        background-color: #1f2937;
        height: 550px;
        
    }
    .hero .header{   
        height: 50px;
        display: flex;
        align-items : center;    
    }


    .hero .logo{
        width:40%;
        font-size: 24px;
        color: c;
    }
    .hero .nav{
        display: flex; 
        justify-content: right;
        width:80%;
        
    }
    .hero .nav{
        list-style: none;
    }
    .hero .nav a{
        padding: 5px 15px;
        font-size: 18px;
    }

    /* main Section style */
    .hero .main{
        margin: 48px 0;
        display: flex;
        align-items: center;        
    }
    .hero .main .info{
        width: 50%;
    }

    .hero img{
        width: 50%;    
        float: right    ;
        border-radius: 10px;


    }



